html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

div.container-fluid {
	flex: 1;
	margin: 0;
	padding: 0;
}

#nav-header {
	background-color: #FFFFFF;
	height: 100px;
	width: 100%;
}

.navbar {
	padding-right: 5px;
}

#logo-image {
	height: 100%;
	padding: 5px;
}

div.jumbotron {
	margin: 100px 75px;
}

.navbar-default {
  background-color: #1b107d;
  border: 0 !important;
  border-radius: 0 !important;  
}

#footer-divider {
	height: 10px;
	width: 100%;
	background-color: #a37a46;
}

#footer {
	display: flex;
	justify-content: center;
}

#footer p {
	margin: 5px;
}

/* Change color of bootstrap default classes */
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus 
{
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #1b107d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #000000;
  background-color: #56b2ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #56b2ff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus 
.navbar-default .navbar-nav > .active > a > span:focus {
  color: #000000;
  background-color: #56b2ff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
.navbar-default .navbar-nav > .active > a > span:focus {
  color: #000000;
  background-color: #56b2ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus
.navbar-default .navbar-nav > .active > a > span:focus  {
  color: #000000;
  background-color: #56b2ff;
}
.navbar-default .navbar-toggle {
  border: 0 !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #56b2ff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: 0 !important;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #56b2ff;
  }
}