/* Anonymous view */
#available-crops {
	margin: 0px !important;
	table-layout: fixed;
}

#available-crops td {
	padding-bottom: 0px !important;
	overflow: hidden;
}

.crop-image {
	max-height: 150px;	
}


