#menu {
	border: 2px solid blue;	
}

#content {
	height: 100%;
	text-align: left;
}

#farmer-menu-items, #admin-menu-items {
	white-space: nowrap;
	width: auto;
	padding: 0;
	margin: 0;
	padding: 0;
	display: inline-block;
  	float: none;
}

#dashboard-sidebar {
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
}

#admin-menu-items .navbar-collapse {
  	text-align: center;
}

#farmer-menu-items .navbar-collapse {
	text-align: center;
}

#farmer-menu-items, #admin-menu-items > ul {
	text-align: center;
	padding: 0;
}

#farmer-menu-items, #admin-menu-items > ul > li {
	text-align: center;
	padding: 0;
	width: 100%;
}

@media(max-width:795px){
	#farmer-menu-items, #admin-menu-items > ul > li > a {
		padding-left: 10px;
		padding-right: 10px;
    }
    #farmer-menu-items, #admin-menu-items {
		margin: 0 auto;
		display: table;	
    }
}

@media(min-width:1650px) {
	#farmer-menu-items, #admin-menu-items {
		display: flex;
		flex-direction: column;
		width: auto;
	}
}



