#menu {
	border: 2px solid blue;	
}

#content {
	height: 100%;
	text-align: left;
}

.menu-header > h3 {
	margin: 0;
}

#farmer-menu-items, #admin-menu-items {
	white-space: nowrap;
	width: auto;
	padding: 0;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	text-align: left;
  	float: none;
}

#dashboard-sidebar {
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
	padding: 0px;
}

@media(max-width:769px){
	#farmer-menu-items, #admin-menu-items {
		flex-direction: row;
	}
	
	#farmer-menu-items, #admin-menu-items > ul > li > a {
		padding-left: 10px;
		padding-right: 10px;
    }
    #farmer-menu-items, #admin-menu-items {
		margin: 0 auto;
		display: table;	
		flex-direction: row;
    }
}

@media(min-width:1650px) {
	#farmer-menu-items, #admin-menu-items {
		display: flex;
		flex-direction: column;
		width: auto;
	}
}



